body{
    min-height: 100vh;
}
.id-card {
    width: 300px;
    height: 200px;
    border: 2px solid #333;
    padding: 10px;
    margin: 20px;
    display: inline-block;
}

.id-card img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

.id-card .details {
    font-size: 16px;
    line-height: 1.5;
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
    line-height: 1.5;
}
.small-image {
    width: 200px; 
    height: 200px; 
    object-fit: cover;
    margin: 10px auto; 
    display: block; 
}

.card-link {
    text-decoration: none; 
    color: inherit; 
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%; 
    text-align: center; 
  }

.center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e9ecef;
}
.form-container {
    max-width: 400px;
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-error {
    color: #dc3545;
    font-size: 0.875em; 
    margin-top: 0.25rem; 
}


.footer-container{
    position:absoute;
    bottom:0;
    width: 100vw;
    background-color: red;
}
    

  